@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>

    <link rel="stylesheet" href="./css/site.css">

</head>

<br />
<body>

    <div class="text-center">
        <h1 class="display-4">My favorite song</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    </div>

    <style>
        #container {
            width: 400px;
            height: 400px;
            position: relative;
            background: yellow;
        }

        #animate {
            width: 50px;
            height: 50px;
            position: absolute;
            background-color: red;
        }
    </style>

        <p><button onclick="myMove()">Click Me</button></p>

        <div id="container">
            <div id="animate"></div>
        </div>

        <script>
            function myMove() {
                let id = null;
                const elem = document.getElementById("animate");
                let pos = 0;
                clearInterval(id);
                id = setInterval(frame, 5);
                function frame() {
                    if (pos == 350) {
                        clearInterval(id);
                    } else {
                        pos++;
                        elem.style.top = pos + "px";
                        elem.style.left = pos + "px";
                    }
                }
            }
        </script>


 </body>
